.App-dragonImage {
  height: 50vmin;
  pointer-events: none;
  border-radius: 25px;
}

.opensea {
  height: 5vmin;
}

.dragonStory{
  font-family: 'Barlow', sans-serif;
}

.comingSoon{
  text-align:left;
  font-size: calc(10px + 2vmin);  
}

.socialLine{
  font-family: 'Barlow', sans-serif;
  font-size: calc(10px + 2vmin);  
}

.dragonStoryLine{
  font-size: calc(10px + 2vmin);    
  text-align:left;
}

.welcomeDragon{
  font-size: calc(10px + 3vmin);    
  text-align:left;
  font-weight: bold;
}